    
<!--div experiencia-->
<div class="experiencia">
    <ul>
        <h1>Experiencia</h1>
        <li>2005/2006 TECNICO OPERADOR EN PLANTA CITRICOLA VICENTE TRAPANI SRL: tareas de operacion de planta de procesos </li>
          <li>2007/2018 TECNICO DE MANTENIMIENTO en MINERA ALUMBRERA: tareas de mto. de baja y media tension</li><img src="imagen/minera_alumbrera_logo.png" width="5%", height="5%">
          <li>2018/2019 TECNICO DE MANTENIMIENTO BANCO MACRO: tareas de mto. en sucursales y cajeros</li><img src="imagen/Logo-Macro.png" width="5%", height="5%">
          <li>2019/actualidad OPERADOR EN PLANTA MOTOCOMPRESORA DE GAS en TGN(Transportadora de Gas del Norte): tareas de operacion de planta motocompresora de gas natural</li><img src="imagen/logo-tgn.jpg" width="5%", height="5%">
          <button type="button" class="btn btn-primary">edicion</button>
          <button type="button" class="btn-close" aria-label="Close"></button>
      </ul>
</div>